.linkUnderline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(rgb(10, 122, 6), rgb(68, 235, 27));
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
}
.linkUnderline,.linkUnderline:hover {
    background-size: 100% 3px;
    background-position: 0 100%
}